In [65]:
import pandas as pd
from tabulate import tabulate

Untuk membaca file csv

In [66]:
df = pd.read_csv("googleplaystore.csv")

Informasi yang didapatkanadalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [68]:
jmlh = len(df)

In [69]:
atribut = list(df.columns)
atribut = "\n".join(atribut)

In [70]:
object = len(df.dtypes[df.dtypes == 'object'])

In [71]:
num = len(df.dtypes[df.dtypes == 'int64'])
numeric = len(df.dtypes[df.dtypes == 'float64'])

In [72]:
null = df.isna().any().sum()

In [73]:
dictionary = {
    "Jumlah Record" : [jmlh],
    "Atribut" : [atribut],
    "Jumlah tipe object" : [object],
    "Jumlah tipe Integer" : [num],
    "Jumlah tipe float" : [numeric],
    "Jumlah Nilai NULL" : [null],
}

In [74]:
tabel = pd.DataFrame(dictionary)
print(tabulate(tabel, headers='keys', tablefmt='psql', showindex=False))

+-----------------+----------------+----------------------+-----------------------+---------------------+---------------------+
|   Jumlah Record | Atribut        |   Jumlah tipe object |   Jumlah tipe Integer |   Jumlah tipe float |   Jumlah Nilai NULL |
|-----------------+----------------+----------------------+-----------------------+---------------------+---------------------|
|           10841 | App            |                   12 |                     0 |                   1 |                   5 |
|                 | Category       |                      |                       |                     |                     |
|                 | Rating         |                      |                       |                     |                     |
|                 | Reviews        |                      |                       |                     |                     |
|                 | Size           |                      |                       |                     |                     |
|                 | Installs       |                      |                       |                     |                     |
|                 | Type           |                      |                       |                     |                     |
|                 | Price          |                      |                       |                     |                     |
|                 | Content Rating |                      |                       |                     |                     |
|                 | Genres         |                      |                       |                     |                     |
|                 | Last Updated   |                      |                       |                     |                     |
|                 | Current Ver    |                      |                       |                     |                     |
|                 | Android Ver    |                      |                       |                     |                     |
+-----------------+----------------+----------------------+-----------------------+---------------------+---------------------+

Menampilkan rata-rata, standard deviation, minimum, maximum,

In [75]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

Menampilkan nilai korelasi attribute bertipe angka.

In [76]:
df.corr()

        Rating
Rating     1.0

## Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [77]:
df["Rating"].head()

0    4.1
1    3.9
2    4.7
3    4.5
4    4.3
Name: Rating, dtype: float64

### Kalikan salah satu kolom dengan tipe data int64 dengan bilangan koma sembarang

In [78]:
df["Rating"] = df["Rating"] * 0.005

In [79]:
df["Rating"].head()

0    0.0205
1    0.0195
2    0.0235
3    0.0225
4    0.0215
Name: Rating, dtype: float64

Tampilkan 10 record pertama dari attribute bertipe angka.

In [80]:
df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,0.0205,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,0.0195,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,0.0235,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,0.0225,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,0.0215,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,0.0220,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,0.0190,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,0.0205,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,0.0220,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,0.0235,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

SIMPAN CSV

In [81]:
df.to_csv("googleplaystore.csv",index=False)